// Container Style
.card {
    display: flex;
    margin: auto;
    max-width: 380px;
    box-sizing: border-box;

    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;

    &-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0.75rem 1rem;
        box-sizing: border-box;
        background: #f5f5f5;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;

        &:not(:last-child) {
            border-bottom: 1px solid black;
        }

        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: 0.01em;
    }

    &-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0.75rem 1rem;
        box-sizing: border-box;
        gap: 1rem;
    }

    &-footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 0.5rem;
    }
}

// Alerts
.alert {
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.9rem;

    &-warning {
        background-color: #fff3cd;
        color: #856404;
        border: 1px solid #ffeeba;
    }
}