// Input Text
input[type=text] {
    display: flex;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;

    &:hover {
        border-color: #ccf;
    }

    &:focus {
        outline: none;
        border-color: #0969da;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    }
}

// Submit Button
input[type=submit] {
    display: flex;
    padding: 8px;
    border: 1px solid #072;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;

    &:not([disabled]):hover {
        border-color: #3a5;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    }

    &:not([disabled]):active {
        outline: none;
        border-color: #4c7;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    }
}
